#float for namd version used if any
namd_version = 2.12
#Directory where any output folders are writen.
output_dir = ./analysis
#What was the temperature of the simulation in Kelvin
temperature = 300
#Names of thermodynamic legs in simulation, corresponds to directory names in results.
legs = lig, com
#Names of engiens to make analysis for (NAMD2,NAMD3,OpenMM)
engines = namd2
#Directory where input data can be found, dir structure of results is fixed as standard TIES structure.
data_root = ../data
#File path pointing to experimental data, values of exp data can be blank but protein and ligand names provided
# determine what directories will be searched for results
exp_data = ./exp.dat
#Can provide comma separated list of numbers. This removes windows from analysis, zero indexed.
windows_mask = None
#str (TI,FEP) what methods perform analysis with for this engine
methods = TI
#boolean to select if ditributions of dG are printed
distributions = 0
#list of ints specify if we print dg for any intermediate number of replicas (convergence inspection)
rep_convg = 1,2,3
#list of ints specify if we print dg for any intermediate amount of sampling (convergence inspection)
sampling_convg = 1, 5, 10, 25
#comma separated list of floats for lambda schedule
vdw_a = 0,0.05,0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,0.9,0.95,1
ele_a = 0,0,0,0,0,0,0.0909091,0.272727,0.454545,0.636364,0.818182,0.909091,1
vdw_d = 1,0.95,0.9,0.8,0.7,0.6,0.5,0.4,0.3,0.2,0.1,0.05,0
ele_d = 1,0.909091,0.818182,0.636364,0.454545,0.272727,0.0909091,0,0,0,0,0,0
